<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width, initial-scale=1">
    <meta http-equiv="content-Type" content="text/html; charset=utf-8" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css" media="screen">
    <link rel="stylesheet" href="/static/css/roboto.css">
    <link rel="stylesheet" href="/static/css/material-icons.css">
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/jquery.js"></script>
    <title aling="centre">Caricamento completato</title>
</head>

<body>
    <div class="container">
        <br>
        <h1>
            <p align="centre">Locandine caricate con successo!</p>
        </h1>
        <form method="get" action="/upload_locandine">
            <button class="btn waves-effect waves-light" method="get">Carica un'altra locandina
                <i class="material-icons right">add</i>
            </button>
        </form>
        <p>
            <button class="btn waves-effect waves-light clickLocandine" id="show-button" folderLocandine='/home/pi/scripts/RaspberryScreen/locandine'>Riproduzione locandine
                <i class="material-icons right">art_track</i>
            </button>
            <br>
        </p>
        <form method="get" action="/home">
            <button class="btn waves-effect waves-light">Torna alla Home
                <i class="material-icons right">home</i>
            </button>
        </form>
    </div>
</body>
<script>
    //passa il percorso della cartella
    $('.clickLocandine').click(function () {
        folderLocandine = $(this).attr('folderLocandine');
        fetch('/show?folder=' + folderLocandine);
    })
</script>

</html>