<html>

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device.width, initial-scale=1">
        <meta http-equiv="content-Type" content="text/html; charset=utf-8" media="screen">
        <link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css" media="screen">
        <link rel="stylesheet" href="/static/css/roboto.css">
        <link rel="stylesheet" href="/static/css/material-icons.css">
        <script src="/static/js/materialize.min.js"></script>
        <script src="/static/js/jquery.js"></script>
    <title aling="centre">Home</title>
</head>

<body>
    <div class="container">
        <h1>
            <p align="centre">Cosa vuoi fare?</p>
        </h1>
        <button onclick="window.location.href='/upload_locandine'" class="btn waves-effect waves-light">Carica locandine
            <i class="material-icons right">image</i>
        </button>
        <br>
        <br>
        <button onclick="window.location.href='/upload_immediato'" class="btn waves-effect waves-light">Visualizzazione immediata
            <i class="material-icons right">live_tv</i>
        </button>
        <br>
        <br>
        <button onclick="window.location.href='/upload_programmato'" class="btn waves-effect waves-light">Carica eventi
            <i class="material-icons right">access_time</i>
        </button>
    </div>
</body>

</html>