<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width, initial-scale=1">
    <meta http-equiv="content-Type" content="text/html; charset=utf-8" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css" media="screen">
    <link rel="stylesheet" href="/static/css/roboto.css">
    <link rel="stylesheet" href="/static/css/material-icons.css">
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/jquery.js"></script>
    <title>Caricare File</title>
</head>

<body>
    <div class="container">
        <h1>
            <p align="center">Seleziona il corso che vuoi riprodurre</p>
        </h1>
        <div>
            <table>
                <tr>
                    <th width="50%">Evento</th>
                    <th width="25%">Data</th>
                    <th width="15%">Ora</th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                </tr>
                <tr>
                    {% for evento in eventi %} {{ evento|safe }} {% endfor %}
                </tr>
            </table>
            <br>

            <button class="btn waves-effect waves-light clickLocandine" id="show-button" folderLocandine='/home/pi/scripts/RaspberryScreen/locandine'>Riproduzione locandine
                <i class="material-icons right">art_track</i>
            </button>
        </div>
        <br>
        <form method="GET" action="/gestione_file">
            <button class="btn waves-effect waves-light" id="show-button">Gestione locandine
                <i class="material-icons right">build</i>
            </button>
        </form>
        <form method="GET" action="/home">
            <button class="btn waves-effect waves-light">Torna alla Home
                <i class="material-icons right">home</i>
            </button>
        </form>

    </div>
</body>
<script>
    //passa il percorso della cartella, a seconda dell'evento cliccato
    $('.click').click(function () {
        folder = $(this).attr('folder');
        fetch('/show?folder=' + folder);
    })

    //in questo caso solo quello delle locandine
    $('.clickLocandine').click(function () {
        folderLocandine = $(this).attr('folderLocandine');
        fetch('/show?folder=' + folderLocandine);
    })

    //in questo caso solo quello delle locandine
    $('.deleteEventi').click(function () {
        deleteFolder = $(this).attr('folder');
        fetch('/deleteEvento?folder=' + deleteFolder);
        location.reload();
    })
</script>

</html>