<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width, initial-scale=1">
    <meta http-equiv="content-Type" content="text/html; charset=utf-8" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css" media="screen">
    <link rel="stylesheet" href="/static/css/roboto.css">
    <link rel="stylesheet" href="/static/css/material-icons.css">
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/jquery.js"></script>
  <title>Login</title>
</head>

<body>
  <div class="container">
      <h1>
          <p align="center">Effettua il Login</p>
      </h1>
    <form action="{{ url_for('admin') }}" method="POST" id="login-page">
      <input type="hidden" name="op" value="login-main" />

      <input name="username" placeholder="username" type="text" maxlength="20" tabindex="1" required/>

      <input name="password" placeholder="password" type="password" required/>

      <button class="btn waves-effect waves-light" type="submit" id="upload-button" name="button">Login
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</body>
<script>

</script>

</html>